.ipynb_checkpoints/
.vscode/

__pycache__/
original_dataset/

.~lock.*.*
.DS_Store
venv
*.__pycache__
.env

*.csv
*.pkl
*.bkp
*.txt
*.xlsx
*.xml
*.dbf
*.prj
*.shp
*.shx
*.ods
*.sql

David*
Olaf*
Tobi*
Felix*

Tobi_David_CDP.ipynb
